*, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inknut Antiqua", serif;
}

body {
  background-color: rgb(72, 73, 99);
}

button {
  cursor: pointer;
  transition: 400ms;
}

/* Login Page */
.login-title {
  color: white;
  text-align: center;
  font-size: 2.5em;
  padding-top: .8em;
  text-shadow: 0px 2px 5px black;
}

.login-wrapper {
  background: url("../src/assets/javier-santos-guzman-9MR78HGoflw-unsplash.jpg") no-repeat center center/cover;

  height: 100vh;
  position: relative;
}

.register-wrapper {
  background: url("../src/assets/george-pagan-iii-SdNMJcc8xt4-unsplash.jpg") no-repeat center center/cover;

  height: 100vh;
  position: relative;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8em;
}

.login-container>label {
  font-size: 1.2em;
  color: white;
  text-shadow: 0px 2px 5px black;
}

.login-container>input {
  border-radius: 5em;
  border: none;
  font-size: 1rem;
  box-shadow: 0px 3px 10px black;
  padding: .2em .5em;
}

.login-btn {
  margin-top: 1em;
  padding: .5rem 1.5rem;
  border-radius: 5em;
  border: none;

  background-color: #545f71;
  color: white;
  font-size: 1rem;

  box-shadow: 0px 3px 10px black;
}

.login-btn:hover, .login-btn:active {
  background-color: #363636;
}

.link {
  color: white;
  text-shadow: 0px 2px 5px black;
  position: absolute;
  text-align: center;
  /* background-color: #545f718c; */

  bottom: 3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.link > a {
  color: rgb(255, 81, 81);
}

.error-msg {
  color: red;
  text-align: center;
  text-shadow: 0px 3px 5px black;
  padding: 0em 2em;
  margin-top: 2em;
}

/* Home Page */
.home-wrapper {
  background: url("../src/assets/sven-mieke-MsCgmHuirDo-unsplash.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
  padding-bottom: 3.5rem;
}

.home-wrapper-booked {
  background: url("../src/assets/craig-lovelidge-yDGsn39fbD4-unsplash.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
  padding-bottom: 3.5rem;
}

.logout-btn {
  border: none;
  border-radius: 10px;
  padding: 0em .8em;
  margin-bottom: .8em;
}

.header-user-container {
  text-align: center;

}

.card {
  position: relative;
  background-color: #545f71cc;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 0.4em;
  border-radius: 10px;
  padding: 1.4em;
  width: 90%;
  font-size: 0.9em;
  box-shadow: 0px 2px 5px black;
} 

.card>p {
  text-shadow: 0px 3px 5px black;
  height: 2.5em;
}

.card>h2, .card>h3 {
  text-shadow: 0px 3px 5px black;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  text-shadow: 0px 3px 5px black;
  box-shadow: 0px 1px 10px black;
  border-bottom: none;
  background-color: #363636a2;
}

.page-title {
  text-align: center;
  text-shadow: 0px 3px 5px black;
}

.home-title {
  font-size: 2em;
  text-align: center;
  
}

.book-workout-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  background-color: rgb(37, 146, 37);
  padding: .3em 1em;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 5px black;
  margin-top: .5em;
}

.book-workout-btn:disabled {
  background-color: rgba(37, 146, 37, 0.438);
  cursor: not-allowed;
  transition: 0;
}


.book-workout-btn:active {
  background-color: rgb(23, 88, 23);
}

.booked-status {
  color: rgb(255, 74, 74);
}

.workout-nav {
  z-index: 10;
  position: fixed;
  bottom: 0;
  border: none;
  width: 100vw;
}

.nav-btn {
  width: 50%;
  padding: .5rem;
  border: none;
  background-color: #505050;
  color: white;
}

.active {
  background-color: rgb(226, 226, 226);
  color: rgb(0, 0, 0);
}

.booked-status {
  text-align: center;
}

.admin-link {
  height: 100%;
  width: 100%;
  color: rgb(255, 119, 119);
  margin-top: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}


/* Admin Page */
.admin-wrapper {
  background: url("../src/assets/mohamed-fareed-rbSNsoXk-3A-unsplash.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
  text-shadow: 0px 3px 5px black;
  padding-bottom: 3.5rem;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-title {
  text-align: center;
}

.goback-btn {
  color: white;
  border: none;
  background: none;
  padding-right: 1em;
  font-size: 2em;
}

.delete-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: .3em 1em;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 5px black;
  margin-top: .5em;
}

.delete-btn:hover, .delete-btn:active {
  background-color: rgb(104, 27, 27);
}

.x-icon {
  cursor: pointer;
}

.workouts-toggle {
  text-decoration: underline 1px rgb(255, 255, 255);
  cursor: pointer;
}

.new-workout-card {
  display: flex;
  flex-direction: column;

  position: fixed;
  background-color: rgb(48, 63, 90);
  padding: 0.6em 1.4em 1.4em 1.4em;
  width: 90%;
  z-index: 10;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 2px 10px black;
}

.new-workout-card > input, .date-time-div > input {
  margin: 0.2em;
  border-radius: .5em;
  padding: 0.2em;
  border: none;
}

.toggle-new-workout-btn {
  margin-bottom: 1em;
  padding: .3em 1em;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 5px black;
}

.add-workout-btn {
  background-color: rgb(37, 146, 37);
  padding: .3em 1em;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 5px black;
  margin-top: 1em;
}

.new-workout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  text-shadow: 0px 2px 5px black;
}

.edit-btn {
  right: 1rem;
  color: white;
  border: none;
  background: none;
  margin-right: .5em;
  font-size: 2em;
  text-shadow: 0px 2px 5px black;
  font-family: 'Courier New', Courier, monospace;
}

.red {
  background-color: rgb(146, 37, 37);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-back {
  text-shadow: 0px 3px 5px black;
}



@media screen and (min-width: 992px) {
  .card-container {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start; */
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, max-content));
    grid-gap: 1rem;
    justify-content: center;
    padding: initial;
    align-items: start;
  }

  .new-workout-card {
    width: 40%;
  }

  .book-workout-btn:active, .book-workout-btn:hover {
    background-color: rgb(23, 88, 23);
  }

  .book-workout-btn:disabled {
    background-color: rgba(37, 146, 37, 0.438);
  }

  .workout-nav {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 1em;
    border: 2px solid black
  }
}


@media screen and (min-width: 1500px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22%, max-content));
    grid-gap: 1rem;
    justify-content: center;
    padding: initial;
    align-items: start;
  }

  .new-workout-card {
    width: 30%;
  }
}

